doctype html
html
  head
    title Harry Dance Academy
    style
      include ../static/style.css
  body 
    nav.navbar
      div.inner-nav
        div.logo E-Store
        div.right 
          ul
            li #[a(href="/") Sign Up]
            li #[a(href="/") Login]
            li #[a(href="/") About Us]
            li #[a(href="/") Contact Us]
            
    div.container
       h1 this is tanya
    footer.foot 
     

        
      