extends base.pug

block scripts
    script(src='/ststic/index.js')
block style 
    style
        include ../static/style.css
block container
    .cardbox
        .cards
            .card 
            .card
            .card
        .cards
            .card 
            .card
            .card